body {
  font-family: "DM sans Regular", sans-serif;
  font-weight: 500;
}

.shaker {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

@keyframes shake {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-20px,-5px);
    }
}
